<div class="container">
  <h4 class="text-center">Login</h4>

  <form [formGroup]="loginForm" class="form mt-4">
    <div class="form-group">
      <input type="text" autofocus placeholder="user name" formControlName="userName" class="form-control">
      <small class="text-danger d-block mt-2" *ngIf="loginForm.get('userName').errors?.required">User name is required!</small>
    </div>

    <div class="form-group">
      <input type="password" class="form-control" formControlName="password" placeholder="password">
      <small class="text-danger d-block mt-2" *ngIf="loginForm.get('password').errors?.required">Password is required!</small>
    </div>

    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-block">Login</button>
  </form>

  <p>Not a user? <a>Register now</a></p>
</div>
